
frontend/node_modules/.cache/default-development/14.pack
frontend/node_modules/.cache/default-development/1.pack
frontend/node_modules/.cache/
frontend/node_modules/
frontend-copy/node_modules/
backend/node_modules/