/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.event-details {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}

.event-header {
  background: url('./assets/37.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  color: #fff;
  text-align: left;
  padding: 50px  0 100px;
  min-height: 400px;

}

.event-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.event-header-content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-header .event-title {
  font-size: 36px;
  font-weight: bold;
}

.event-header .social-links {
  display: flex;
  gap: 10px;
}

.social-link {
  background-color: #aa336a;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
}

.social-link:hover {
  background-color: #8b2a58;
}

.event-card {
  background: #fff;
  margin-top: -60px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.event-card h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #3f1651;
}

.event-card p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #555;
}

.event-card .event-dates {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.event-card .date-item {
  text-align: center;
  font-weight: bold;
}

.event-card .date-item span {
  display: block;
  font-size: 20px;
  color: #aa336a;
}

.event-card .buy-ticket-button {
  background: #aa336a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
  display: inline-block;
  margin-top: 20px;
}

.event-card .buy-ticket-button:hover {
  background: #8b2a58;
}

.event-card .ticket-info {
  margin-top: 20px;
  background: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
}

.ticket-details img {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .event-header-content {
    flex-direction: column;
    text-align: center;
  }

  .event-card {
    margin-top: 0;
    padding: 15px;
  }

  .event-card .event-dates {
    flex-direction: column;
  }

  .event-card .buy-ticket-button {
    width: 100%;
  }
}
