.home {
    padding: 2rem;
  }
  
  .event-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
  }
  
  .event-card {
    padding: 1.5rem;
    background-color: var(--card-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
  }
  
  .event-card h3 {
    margin-top: 0;
  }
  
  .event-card p {
    margin: 0.5rem 0;
  }
  
  .event-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: #ffffff;
    background-color: var(--button-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .event-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  